body {
    background-color: #f3f3f3;

    .container-fluid {
        box-shadow: 0 0 10px black;

        .input {
            border: 1px solid black;
            padding: 5px 1px 5px 10px;
        }

        .btn-color {
            border: 1px solid #076b07;
            background-color: white;
            outline: none;
            width: 40%;
            color: #076b07;

            &:hover {
                transition: .5s;
                background-color: #076b07;
                color: white;
            }
        }
    }
}